{% load render_nested %}
<li>
    <a href="{{ url }}" class="subpart-info"><!-- This is what should link to a new page that is the top of the relevant subpart -->
        <h3>
            <span class="subpart-letter">{{label_level|safe}}</span> 
            <span class="subpart-range">({{ descendant_range.0 }} - {{ descendant_range.1 }})</span>
        </h3>
    </a>
    <p class="subpart-name">{{label_description|safe}}</p>
    <ul>
        {% for item in children %}
          {% render_nested "regulations/partials/expanded_toc/"|add:item.type|add:".html" context=item %}
        {% endfor %}
    </ul>
</li>
