{% extends "regulations/base.html" %}
{% load static %}
{% load macros %}
{% block app_js %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
{% endblock %}

{% block body %}

<aside class="left-sidebar">
    {% with nav_class='toc-nav__base toc-nav__cfr-viewer' toc_items=TOC top_toc=True %}
        {% include "regulations/toc.html" %}
    {% endwith %}
</aside>

<main>
    <section>
        <section>
            §{{ part }}.
            <!-- main content fix next -->
            {% block reg_main_content %}
            {% endblock %}
            {% block reg_addtl_content %}
            {% endblock %}
        </section>
    </section>
</main>

<aside class="right-sidebar">
    {%include "regulations/sidebar.html"%}
</aside>

{% endblock %}