{% extends "regulations/base.html" %}
{% load static %}
{% load macros %}
{% block app_js %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
{% endblock %}

{% block title %}eRegulations{% endblock %}

{% block body %}

<header>
    {% include "regulations/main-header.html" %}
</header>

<section>
  <h2>A platform to read regulations.</h2>
  <p>eRegulations makes regulations easier to find, read, and understand.</p>
</section>

<section>
  <h2>
    Title {{cfr_title_number|upper}} {{cfr_title_text}}
  </h2>
  
  <ul>
    {% for regulation in regulations %}
    <li>
      <a href="{% url 'regulation_landing_view' regulation.part %}">
        {{regulation.part}}
        <span>
          {% if regulation.meta.reg_letter %}
            Regulation {{regulation.meta.reg_letter}}
            {{regulation.meta.statutory_name|title}}
          {% else %}
            {{regulation.meta.statutory_name|title}}
          {% endif %}
        </span>
      </a>

      {% for amendment in regulation.amendments %}
        <div>
          New amendment effective {{amendment.by_date|date:'n/j/Y'}}
          <a href="{% url 'reader_view' regulation.part regulation.reg_first_section amendment.version %}">View new amendment</a>
        </div>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</section> 

<section>
  <h2>About eRegulations</h2>
  <p>eRegulations is a web-based tool that makes regulations easier to find, read and understand with features such as inline
    official interpretations, highlighted defined terms, and a revision comparison view.</p>
</section>

{% include "regulations/full_footer.html" %}

{% endblock %}
