{% load static %}

<div class="toc-controls">
    <button data-set-state="collapsed" data-state-name="left-sidebar">
        <img src="{% static 'images/sidebar-collapse.svg' %}" />
        <span>Collapse</span>
    </button>
    <button data-set-state="expanded" data-state-name="left-sidebar">
        <img src="{% static 'images/sidebar-expand.svg' %}" />
    </button>
</div>

<div class="jump-to">
    <div class="jump-to-label">Jump to Regulation Section</div>

    <form method="GET" action="{% url 'goto' %}">
      <input name="{{ reg_part }}-version" type="hidden" required value={{ version }}>
      <input name="title" type="hidden" required value={{ title }}>

        <div class="jump-to-input">
            § <select name="part" class="ds-c-field">
                {% for part in parts %}
                <option value="{{ part.name }}" {% if reg_part == part.name %}selected{% endif %}>{{ part.name }}</option>
                {% endfor %}
            </select>
            <span class="dot">.</span>
            <input class="number-box ds-c-field" name="section" placeholder="{{section}}" type="text" pattern="\d+" title="Regulation section number, i.e. 111">
        </div>

        <input class="submit" type="submit" value="Go">
    </form>

</div>

<nav role="navigation">
    <ul>
        {% for item in toc.children %}
            {% if item.type == "section" %}
                {% include "regulations/partials/toc_orphan_section.html" with extra_class="orphan" %}
            {% elif item.type == "subpart" %}
                {% with item_subpart="Subpart-"|add:item.identifier.0 %}
                    {% if subpart and item_subpart == subpart %}
                        {% include "regulations/partials/toc_subpart.html" with collapse_state="expanded" %}
                    {% else %}
                        {% include "regulations/partials/toc_subpart.html" with collapse_state="collapsed" %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
