<li data-state="{{ collapse_state }}" data-state-name="{{ item.section_id }}" data-subpart-heading data-subgroup="subpart-{{item.index|last}}" id="{{item}}" class="subpart-heading-{{item.index|last}} section-subpart {% if item.expanded %}active{% endif %}" tabindex="0">

    <div class="flexbox">

        <a class="subpart-info"> <!-- This is what should link to a new page that is the top of the relevant subpart -->
            <div class="toc-titles">
                <h3 data-section-id="{{item.section_id}}" id="nav-{{item.section_id}}">
                    <span class="subpart-letter">{{item.label|safe}}</span> 
                    <span class="subpart-range">({{ item.sub_toc.0.label }} - {% with item.sub_toc|last as last %}{{ last.label }}{% endwith %})</span>
                    <div class="subpart-name">{{item.sub_label|safe}}</div>
                </h3>
            </div>
        </a>

        <div class="toc-toggles">
            {% if item.sub_toc %}
                <span tabindex="0" data-state="{{ collapse_state }}" data-set-state="expanded" data-state-name="{{ item.section_id }}"><i class="fa fa-chevron-down"></i></span>
                <span tabindex="0" data-state="{{ collapse_state }}" data-set-state="collapsed" data-state-name="{{ item.section_id }}"><i class="fa fa-chevron-up"></i></span>
            {% endif %}
        </div>

    </div>    

</li>

<li class="subtoc {% if item.expanded %}active{% endif %}" data-state="{{ collapse_state }}" data-state-name="{{ item.section_id }}">
    {% if item.sub_toc %}
        {% include "regulations/partials/toc_sub_toc.html" with type="subpart" %}
    {% endif %}
</li>

