.reg-part-homepage {
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        color: $primary-color;
    }
    .last-updated {
        margin-bottom: 40px;
        font-style: italic;
        font-weight: 600;
    }
}
